.app-toolbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  flex-wrap: wrap;
}
.buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.example-form-field {
  width: 200px;
  padding: 10px;
}

.results {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.col {
  width: 80%;
}

.mat-list-base .mat-list-item{
  min-height: 46px;
  height: auto !important;
}

.att-color {
  color: #FFCC00 ;
  padding-right: 10px;
}

.searchmatch {
  background-color: #9C27B0;;
  font-weight: bold;
  color: #ffffff;
}

.highlight-replaced {
  background-color: #FFCC00;
  font-weight: bold;
}
