.app-toolbar {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  min-height: 100px;
}
.col-inputs {

}

.col-buttons {
  margin: 10px;
}
button {
  margin: 5px;
}
.example-form-field {
  width: 200px;
  padding: 10px;
}

.container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.col {
  width: 100%;
}

.main-color {
  color: #FFCC00 ;
  padding-right: 10px;
}

.searchmatch {
  background-color: #9C27B0;;
  font-weight: bold;
  color: #ffffff;
}

.highlight-replaced {
  background-color: #FFCC00;
  font-weight: bold;
}
