<div class="app-toolbar">
  <mat-form-field color="primary" class="example-form-field">
    <mat-label>Searched phrase</mat-label>
    <input matInput type="text" [(ngModel)]="searchedPhrase" (keyup.enter)="onGetBestResults(searchedPhrase)">
    <button *ngIf="searchedPhrase" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearchedResults()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field color="primary" class="example-form-field">
    <mat-label>Replace with</mat-label>
    <input matInput type="text" [(ngModel)]="replaceWith" (keyup.enter)="onGetBestResults(searchedPhrase)">
    <button *ngIf="replaceWith" matSuffix mat-icon-button aria-label="Clear" (click)="replaceWith=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="buttons">
    <button class="mat-elevation-z2" button mat-raised-button color="primary" [disabled]="searchedPhrase === ''"
            (click)="onGetBestResults(searchedPhrase)">Search
    </button>
    <button mat-stroked-button color="primary" [disabled]="replaceWith === ''"
            (click)="onReplaceSingleMatch(replaceWith)">Replace
    </button>
    <button mat-stroked-button color="primary" [disabled]="replaceWith === ''"
            (click)="onReplaceAllMatches(replaceWith)">Replace All
    </button>
  </div>
  <div>
    <mat-slide-toggle color="primary" [disabled]="!replacedPhraseElements" [(ngModel)]="showReplaced"
                      (change)="onHighlightReplaced(showReplaced)">Highlight Replaced
    </mat-slide-toggle>
  </div>
</div>
<div class="results" *ngIf="results">
  <div class="col">
    <mat-list  class="mat-elevation-z1" *ngFor="let item of results">
      <mat-list-item><span class="att-color">Title: </span>{{item?.title}}</mat-list-item>
      <mat-list-item><span class="att-color">Snippet: </span>
        <div [innerHTML]="item?.snippet"></div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
